/* Atalhos.css */

.app-page {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  text-align: left;
  margin-top: 70px;
}

.app-dropdown {
  margin-bottom: 20px;
}

.app-info {
  margin-top: 20px;
  text-align: left;
}

.add-app-button {
  background-color: #db451f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

.app-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.app-form label,
.app-form input {
  display: block;
  margin-bottom: 10px;
}

.app-form button {
  background-color: #0074d9;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}


.atalhos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.atalho-item {
  background-color: #d6d6d6; 
  border-radius: 10px; 
  padding: 20px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  flex: 1;
  max-width: 100; 
  text-align: center; 
}

.botaoEditar {
  background-color: #db451f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

.botaoDeletar {
  background-color: #db451f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}