/* Main.css */

.old-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center elements vertically on the screen */
  min-height: 100vh;
  background-color: rgb(0, 0, 0); /* Set the black background for the whole page */
  color: white; /* Set the text color to white */
}

.old-secContent {
  max-width: 1200px; /* Optionally set a maximum width for the grid */
  text-align: center; /* Center text in the container */
}

.old-appList {
  list-style-type: none;
  padding: 0;
}

.old-appListItem {
  display: inline-block; /* Display list items horizontally */
  margin-right: 20px; /* Add spacing between app items */
}

.old-itemContent {
  display: flex;
  align-items: center;
}

.old-imageDiv {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgba(233, 14, 14, 0.945); /* Add a border to the image container */
  border-radius: 200px; /* Create rounded corners for the image container */
  padding: 10px; /* Add padding to create space between the border and image */
  margin-right: 20px; /* Add spacing between image and name */
}

.old-imageDiv:active {
  transform: scale(0.95); /* Scale down when pressed */
}

.old-imageDiv img {
  max-width: 100%; /* Limit the image's maximum width */
  max-height: 100px; /* Set a predetermined height for the images */
  display: block;
}

.old-nomeDiv {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
}

.old-arrow {
  margin-left: 10px; /* Add spacing between the text and the arrow */
  font-size: 20px; /* Adjust the arrow's size */
}
