/* usuarios.css */

.usuario-app-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin: 20px 0;
  color: #333;
}

.usuarios-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.usuario-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.usuario-content {
  display: flex;
  align-items: center;
  width: 100%;
}

/* usuarios.css */

.usuario-imagem {
  flex: 1;
  padding: 10px;
  position: relative;
}

.usuario-imagem img {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.usuario-imagem:before {
  content: "";
  display: block;
  padding-bottom: 100px; /* 1:1 aspect ratio (change this value as needed) */
}


/* usuarios.css */

/* ... (previous CSS styles) */

.usuario-text-container {
  flex: 3;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto; /* Enable horizontal scrolling if content overflows */
  white-space: nowrap; /* Prevent line breaks for the content */
}

.usuario-texto {
  font-size: 18px;
  color: #333;
  padding: 0 10px; /* Add padding to separate attributes */
}

/* ... (previous CSS styles) */


.usuario-icons {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.usuario-icon {
  margin-left: 10px;
  color: #333;
  text-decoration: none;
}

.usuario-icon:hover {
  color: #ff6347; /* Orange color on hover */
}


.usuarios-table {
  width: 100%;
  border-collapse: collapse;
}

.usuarios-table thead {
  background-color: #f0f0f0;
  color: #333;
}

.usuarios-table th, .usuarios-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.usuario-imagem img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 50%; /* Rounded user images */
}

.usuario-text-container {
  overflow-x: auto;
}

/* ... (previous CSS styles) */
